@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}

.custom-toast-container {
  width: fit-content;
  max-width: 300px;
  margin: 0 auto;
}
.custom-toast {
  padding: 0px;
  font-size: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  border-left-width: 4px;
  border-left-style: solid;
}
.custom-toast.Toastify__toast--success {
  background-color: #e6f3e6;
  border-left-color: #4caf50;
}
.custom-toast.Toastify__toast--error {
  background-color: #fee6e6;
  border-left-color: #f44336;
}
.custom-toast.Toastify__toast--warning {
  background-color: #fff4e6;
  border-left-color: #ff9800;
}
.Toastify__close-button {
  display: none;
}
